[submodule "plugins/start/vim-sensible"]
	path = plugins/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "plugins/start/vim-polyglot"]
	path = plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "plugins/start/rust.vim"]
	path = plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugins/start/ale"]
	path = plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "plugins/start/vim-vinegar"]
	path = plugins/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "plugins/start/vim-signify"]
	path = plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "plugins/start/fzf"]
	path = plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
